&uart0 {
    status = "okay";
};

&usb {
    status = "okay";
    dr_mode = "peripheral";
};

&zephyr_cdc_acm_uart {
    status = "okay";
};

/ {
    chosen {
        zephyr_ot_uart = &zephyr_cdc_acm_uart;
    };
};
